// Place all the styles related to the Roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-container {
  display: flex;
  min-height: 100vh;
}

.center-item {
  margin: auto;
  display: flex;
}

.not-selected {
  display: none;
}

.image{
  margin: auto;
  width: 100px;
  height: 100px;
}
