// Place all the styles related to the Roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-container {
  display: flex;
  min-height: 100vh;
}

.center-item {
  margin: auto;
  display: flex;
}
.center-item {
  margin: auto;
  display: flex;
}

.news {
  flex-direction: column;
}

.newsItem {
  margin-bottom: 2rem;
}

.news-image {
  width: 150px;
  height: 150px;
  margin-bottom: -100px;
  margin-left: 10px;
}


.news-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #434343;
  min-height: 8rem;
  max-height: 8rem;
  min-width: 30rem;
  max-width: 30rem;
  padding: 0.5rem;
}

.news-date {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem 0rem;
}

.news-title {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem 0rem;
}

.new-description {
  padding: 2.5rem 1rem 0rem 1rem;
}

.not-selected {
  display: none;
}

.product-image{
  margin: auto;
  width: 100px;
  height: 100px;
}

.product {
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
}

.button {

}

.main-header {

}

.main-nav {

}

.main-nav a{
  text-decoration: none;
}

.logo a{
  text-decoration: none;
}

@media (min-width: 769px) {
	.main-header {
		width: 90%;
		margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	}
}
@media (min-width: 1025px) {
	.main-header {
		width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	}
  .main-nav {
    margin-top: 3%;
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
