// Place all the styles related to the Roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-container {
  display: flex;
  min-height: 100vh;
}

.center-item {
  margin: auto;
  display: flex;
}

.not-selected {
  display: none;
}

.image{
  margin: auto;
  width: 100px;
  height: 100px;
}

.product {
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
}

.button {

}

.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-nav {
  width: 80%;
  flex-direction: row;
}

.main-nav a{
  padding: 5%;
}
